{% extends "customer_base.html" %}

{% block title %}
  S-STORE | Список книг
{% endblock title %}

{% block pagename %}
  Список книг
{% endblock pagename %}

   
{% block content %}
{%if user.is_staff%}
 <a href="/book/create" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Создать новую</a>
{%endif%}   
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
        {%if user.is_staff%}
        <th scope="col">Номер</th>
        {%endif%}
        <th scope="col">Название</th>
        <th scope="col">Цена</th>
        {%if user.is_staff%}
        <th scope="col">Активна</th>
        {%endif%}
        <th scope="col" class='text-center'>Действия</th>
    </tr>
  </thead>
  <tbody>

  {% for book in object_list %}
    <tr>
      {%if user.is_staff%}
      <td>{{book.pk}}</td>
      {%endif%}
      <td><a href = '/book/{{book.pk}}/'> <b>{{book.name}} </b></a></td>
      <td>{{book.price}}</td>
      {%if user.is_staff%}
      <td>{{book.active}}</td>
      {%endif%}
      <td class='text-center'><a href='{% url 'book-view' book.pk %}' class="btn btn-success" role="button" aria-pressed="true"> <i class="far fa-eye"></i></a> 
      
      <a href='{% url 'orders:cart'%}?book={{book.pk}}' class="btn btn-warning" role="button" aria-pressed="true"> <i class="fas fa-cart-arrow-down"></i></a>
      {%if user.is_staff%}
      <a href='/book/update/{{book.pk}}/' class="btn btn-warning" role="button" aria-pressed="true"> <i class="far fa-edit"></i>&nbspИЗМЕНИТЬ </a> 
      <a href='/book/delete/{{book.pk}}/' class="btn btn-danger" role="button" aria-pressed="true"> <i class="far fa-trash-alt"></i>&nbspУДАЛИТЬ </a></td>
      {%endif%}
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock content %}


{% block pagination %}
  {% if is_paginated %}
    <br>
    <div class="pagination">
        <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая страница</a>
          {% endif %}
            <span class="page-current">
            Страница № {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>
          {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая страница</a>
          {% endif %}
        </span>
    </div>
  {% endif %}
{% endblock pagination%} 
  
