{% extends "customer_base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
  S-STORE | Карточка книги
{% endblock title %}

{% block pagename %}
  Карточка книги
{% endblock pagename %}

   
{% block content %}
{%if user.is_staff%}
<a href='/book/update/{{book.pk}}/' class="btn btn-warning" role="button" aria-pressed="true"> <i class="far fa-edit"></i>&nbspИЗМЕНИТЬ </a> 
<a href='/book/delete/{{book.pk}}/' class="btn btn-danger" role="button" aria-pressed="true"> <i class="far fa-trash-alt"></i>&nbspУДАЛИТЬ </a><br>
{%endif%}
<br>
<div class="card" style="width: 9rem;">
  <img src="{{object.foto.url}}" class="card-img-top" alt="NO IMAGE">
  <div class="card-body">
  </div>
</div>
{%if user.is_staff%}
{{form|crispy}}
{%endif%}

{%if not user.is_staff%}
Название: {{object.name}}<br>
Авторы:
{% for author in object.author.all %}
  {{ author }}
{% endfor %}<br>
Цена
{{object.price}}<br>
Серия:
{{object.series|default_if_none:"-"}}<br>
Жанры:
{% for genre in object.genre.all %}
  {{ genre|default_if_none:"-" }}
{% endfor %}<br>
Год издания:
{{object.publication_year|default_if_none:"-"}}<br>
Возрастные ограничения:
{{object.age_limit|default_if_none:"-"}}<br>
Издателство:
{{object.publisher|default_if_none:"-"}}<br>

<a href='{% url 'orders:cart'%}?book={{book.pk}}' class="btn btn-warning" role="button" aria-pressed="true"> <i class="fas fa-cart-arrow-down"></i></a>
{%endif%}

    
{% endblock content %}





