<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Данные об авторе</h1>
    <a href='/author/update/{{author_pk}}/'>Изменить</a>
    <a href='/author/delete/{{author_pk}}/'>Удалить</a>
    <h2>{{author_key.author_name}}<h2>
    Также известен как: <br>
    {{author_key.author_pseudonym}}<br>
    Примечания: <br>
    {{author_key.author_comments}}


    
</body>
</html>