{% extends "customer_base.html" %}

{% block title %}
 Список жанров
{% endblock title %}

{% block pagename %}
  Список жанров
{% endblock pagename %}

   
{% block content %}
 <a href="/genre/create" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Создать</a>
    
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
        <th scope="col">Номер</th>
        <th scope="col">Название</th>
        <th scope="col" class='text-center'>Действия</th>
    </tr>
  </thead>
  <tbody>

  {% for object in object_list %}
    <tr>
      <td>{{object.pk}}</td>
      <td><a href = '/genre/{{object.pk}}/'> <b>{{object.name}} </b></a></td>
      <td class='text-center'><a href='{% url 'genre-view' object.pk %}' class="btn btn-success" role="button" aria-pressed="true"> <i class="far fa-eye"></i>&nbspПРОСМОТР </a> 
      <a href='/genre/update/{{object.pk}}/' class="btn btn-warning" role="button" aria-pressed="true"> <i class="far fa-edit"></i>&nbspИЗМЕНИТЬ </a> 
      <a href='/genre/delete/{{object.pk}}/' class="btn btn-danger" role="button" aria-pressed="true"> <i class="far fa-trash-alt"></i>&nbspУДАЛИТЬ </a></td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock content %}


{% block pagination %}
  {% if is_paginated %}
    <br>
    <div class="pagination">
        <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая страница</a>
          {% endif %}
            <span class="page-current">
            Страница № {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>
          {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая страница</a>
          {% endif %}
        </span>
    </div>
  {% endif %}
{% endblock pagination%} 