{% extends "customer_base.html" %}

{% block title %}
S-STORE | Главная страница
{% endblock title %}

{% block pagename %}
  S-STORE ПАНЕЛЬ УПРАВЛЕНИЯ
{% endblock pagename %}

   
{% block content %}
  {%if user.is_authenticated%}
    Здравствуйте, {{user}}!
    <h2>
    <a href='/books/' class="btn btn-warning" role="button" aria-pressed="true"> <i class="far fa-edit"></i>&nbspКниги </a> 
    <a href='{% url 'dbase:author-list' %}' class="btn btn-warning" role="button" aria-pressed="true"> <i class="far fa-edit"></i>&nbspАвторы </a> 
    <a href='{% url 'dbase:series-list' %}' class="btn btn-warning" role="button" aria-pressed="true"> <i class="far fa-edit"></i>&nbspКнижные серии </a> 
    <a href='{% url 'dbase:genre-list' %}' class="btn btn-warning" role="button" aria-pressed="true"> <i class="far fa-edit"></i>&nbspЖанры </a> 
    <a href='{% url 'dbase:publisher-list' %}' class="btn btn-warning" role="button" aria-pressed="true"> <i class="far fa-edit"></i>&nbspИздательства </a> 
    </h2>
  {%endif%}
  <table class="table table-striped">
    <tbody>
    <div class="row">

      <td>Всего в списке {{books_number}} наименований книг</td>

      <td>В продаже {{active_books_number}} наименований книг</td>

      <td>На складе {{available}} единиц книг.</td>

      <td>Товара на сумму {{price_sum}} руб.</td>
  
      <td>{{inactive_books_number}} неактивно.</td>

    </div>
    </tbody>
</table>
{% endblock content %}
