{% extends "customer_base.html" %}

{% block title %}
S-STORE | Главная страница
{% endblock title %}

{% block pagename %}
  S-STORE ПАНЕЛЬ УПРАВЛЕНИЯ
{% endblock pagename %}

   
{% block content %}
  {%if user.is_authenticated%}
    Здравствуйте, {{user}}!
    <h2>
    <a href='/book/' class="btn btn-warning" role="button" aria-pressed="true"> <i class="far fa-edit"></i>&nbspКниги </a> 
    <a href='{% url 'dbase:author-list' %}' class="btn btn-warning" role="button" aria-pressed="true"> <i class="far fa-edit"></i>&nbspАвторы </a> 
    <a href='{% url 'dbase:series-list' %}' class="btn btn-warning" role="button" aria-pressed="true"> <i class="far fa-edit"></i>&nbspКнижные серии </a> 
    <a href='{% url 'dbase:genre-list' %}' class="btn btn-warning" role="button" aria-pressed="true"> <i class="far fa-edit"></i>&nbspЖанры </a> 
    <a href='{% url 'dbase:publisher-list' %}' class="btn btn-warning" role="button" aria-pressed="true"> <i class="far fa-edit"></i>&nbspИздательства </a> 
    <a href='{% url 'accounts:user-list' %}' class="btn btn-warning" role="button" aria-pressed="true"> <i class="far fa-edit"></i>&nbspПользователи </a> 
  </h2>
  {%endif%}
  <table class="table table-striped">
    <tbody>
    <div class="row">

      <td>Всего в списке {{books_number}} наименований книг</td>

      <td>В продаже {{active_books_number}} наименований книг</td>

      <td>На складе {{available}} единиц книг.</td>

      <td>Товара на сумму {{price_sum}} руб.</td>
  
      <td>{{inactive_books_number}} неактивно.</td>

    </div>
    </tbody>
</table>
 <h3> Активные заказы </h3>
<table class="table table-striped">
  <tbody>
    
    {% for object in page_obj %} 
    <tr>
      <td><a href = '{% url 'orders:adm-edit-order' object.pk %}'> <b>{{object}}</b></a></td>
      <td><b>{{object.user.username}} </b></a></td>
      <td><b>{{object.status}} </b></a></td>
      <td><b>{{object.total_price}} </b></a></td>
      <td><b>{{object.created_date}} </b></a></td>
      <td><a href='{% url 'orders:delete-order' object.pk %}' class="btn btn-danger" role="button" aria-pressed="true"> <i class="far fa-trash-alt"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


    <br>
    <div class="pagination">
        <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая страница</a>
          {% endif %}
            <span class="page-current">
            Страница № {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>
          {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая страница</a>
          {% endif %}
        </span>
    </div>
    


{% endblock content %}
