{% extends "customer_base.html" %}

{% block title %}
S-STORE | Главная страница
{% endblock title %}

{% block pagename %}
  Выберите список
{% endblock pagename %}

   
{% block content %}
{%if user.is_authenticated%}
Здравствуйте, {{user}}!
{%endif%}

    <h2>
    <a href = '/book/'> Книги </a> <br>
    <a href = '/author/'> Авторы </a> <br>
    <a href = '/series/'> Книжные серии </a> <br>
    <a href = '/genre/'> Жанры </a> <br>
    <a href = '/publisher/'> Издательства </a> <br>
    </h2>

    <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
        <th scope="col">Номер</th>
        <th scope="col">Название</th>
        <th scope="col">FOTO</th>
    </tr>
  </thead>
  <tbody>
<div class="row">
  
  {% for object in object_list %}
  <div class="col-md-4">
  <div class="card" style="width: 18rem;">

  <img src='{{object.foto.url}}' class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{object.name}}</h5>
    </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{object.author}}</li>
    <li class="list-group-item">{{object.price}}}</li>
    <li class="list-group-item">{{object.genre}}</li>
  </ul>
  <div class="card-body">
    <a href="/book/{{object.pk}}/" class="card-link">Просмотр</a>
    <a href="#" class="card-link">Положить в корзину</a>
  </div>
</div>
</div>
    {% endfor %}
</div>
  </tbody>
</table>
{% endblock content %}
